Requirements
-----

<a href="https://nodejs.org"><img src="assets/images/nodejs-banner.png" alt="banner" height="{{vars.bannerHeight}}" style="height:{{vars.bannerHeight}}px"
/></a>

+ [Node.js ( {{{pkg.engines.node}}} )][node_download_url]

[node_download_url]: https://nodejs.org/en/download/
